{% form_theme form 'landing_page/_form_theme.html.twig' %}

<style type="text/css">
	.form-error {
		color: red;
		font-weight: bold;
		padding-bottom: 10px;
	}
	.form-error ul {
		margin: 0;
	}
</style>

{# Etape 2 #}
<div class="card step_2">
	<div class="card-content">
		<span class="card-title color_product_primary center-align">Étape 2</span>
		<p class="h6 center-align">Remplissez ce formulaire</p>
		<div class="form-wrapper">
			{{ form_row(form.client.addresses.0.firstName, { 'label': 'Prénom' }) }}
			{{ form_row(form.client.addresses.0.lastName, { 'label': 'Nom' }) }}
			{{ form_row(form.client.addresses.0.address, { 'label': 'Adresse' }) }}
			{{ form_row(form.client.addresses.0.addressComplement, { 'label': 'Complément adr.' }) }}
			{{ form_row(form.client.addresses.0.city, { 'label': 'Ville' }) }}
			{{ form_row(form.client.addresses.0.zipCode, { 'label': 'Code postal' }) }}
			{{ form_row(form.client.addresses.0.phone, { 'label': 'Téléphone' }) }}
			{{ form_row(form.client.addresses.0.country, { 'label': 'Pays', 'required':false }) }}
			{{ form_row(form.client.email)}}
		</div>
	</div>
	<ul class="collapsible">
		<li>
			<div class="collapsible-header">
				<i class="material-icons">markunread_mailbox</i>Adresse de livraison différente ?</div>
			<div class="collapsible-body">
				{{ form_row(form.client.addresses.1.firstName, { 'label': 'Prénom', 'required':false }) }}
				{{ form_row(form.client.addresses.1.lastName, { 'label': 'Nom', 'required':false }) }}
				{{ form_row(form.client.addresses.1.address, { 'label': 'Adresse', 'required':false }) }}
				{{ form_row(form.client.addresses.1.addressComplement, { 'label': 'Complément adr.', 'required':false }) }}
				{{ form_row(form.client.addresses.1.city, { 'label': 'Ville', 'required':false }) }}
				{{ form_row(form.client.addresses.1.zipCode, { 'label': 'Code postal', 'required':false }) }}
				{{ form_row(form.client.addresses.1.phone, { 'label': 'Téléphone', 'required':false }) }}
				{{ form_row(form.client.addresses.1.country, { 'label': 'Pays', 'required':false }) }}
			</div>
		</li>
	</ul>
</div>

{# Etape 3 #}
<div class="card step_3">
	<div class="card-content">
		<span class="card-title color_product_primary center-align">Étape 3</span>
		<p class="h6 center-align">Choisissez un paiement</p>
		<ul class="collapsible">
			<li class="active">
				<div class="collapsible-header">
					<i class="fas fa-credit-card"></i>Payer avec la Carte Bancaire</div>
				<div class="collapsible-body card-form">
					<div class="row">
						<div class="center-align">
							{{ form_row(form.stripe) }}
							<p>J'accepte les
								<a href="https://feelwellshop.com/fr/conditions-generales-de-ventes" target="_blank">conditions générales de vente</a>
							</p>
							<img class="responsive-img monetico" src="assets/images/paiement-securise-stripe.jpeg" alt="Stripe protège vos achats">
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="collapsible-header">
					<i class="fab fa-cc-paypal"></i>Payer avec Paypal</div>
				<div class="collapsible-body">
					<div class="row">
						<div class="center-align">
							{{ form_row(form.paypal) }}
							<p>J'accepte les
								<a href="https://feelwellshop.com/fr/conditions-generales-de-ventes" target="_blank">conditions générales de vente</a>
							</p>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
